.article-cover-img {
    height: 50rem;
    width: 100%;
    background-size: cover;
    border-radius: 30px;
}

.article-title {
    margin: 2rem 0;
    align-items: left;
    font-size: 5rem;
    font-weight: 400;
}

.article-content {
    white-space: pre-wrap;
}

.article-container {
    padding-bottom: 10rem;
}

.article-back {
    font-weight: 700;
    font-size: 1.3rem;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 15px;
    display: block;
}

.action {
    margin-top: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.article-author {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    margin-top: 20px;
    padding-right: 20px;
    font-size: 1rem;
    font-weight: 700;
    font-style: italic;
}